<footer class="bg-dark py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 mb-3">
                <div class="text-center">
                    <a class="logo logo-footer" href="#">
                        <img src="../../assets/template/images/logo-light.png" height="25" alt="">
                    </a>
                    <p class="text-muted para-desc mx-auto mt-3">Launch your campaign and benefit from our expertise on designing and managing conversion centered bootstrap4 html page.</p>
                    <ul class="list-unstyled social-icon social mb-0 mt-4">
                        <li routerLink="../admin/home/1" class="list-inline-item"><a href="javascript:void(0)" class="rounded"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin fea icon-sm fea-social"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg></a></li>
                    </ul><!--end icon-->
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
  
</footer>

<footer class="footer-bar bg-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <p class="mb-0 footer-text para-desc mx-auto">© <script>document.write(new Date().getFullYear())</script>2022 <span class="text-reset">Appgen</span>. Design with <i class="mdi mdi-heart text-danger"></i> by <a href="http://shreethemes.in" target="_blank" class="text-reset">Shreethemes</a>.</p>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</footer>
